@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #c1f880;
}
nav .navbar-brand .red
{
    color: #55c59d;
}
nav .navbar-brand .yellow
{
    color: #4f5aa8;
}
nav .navbar-brand .green
{
    color: #b37b56;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

#thought {
    background-color: #4bcdda;
    border-radius: 20px;
}

svg{font-weight:bold;font-family: 'Cabin Condensed', sans-serif;max-width:600px;height:100%;}
